SDN_CONTROLLER = 127.0.0.1
RYU_URL = http://127.0.0.1:8080
FAST_API_URL = http://127.0.0.1:8000
TELEGRAM_API_TOKEN = <YOUR_TELEGRAM_API_TOKEN>
GEMINI_API_KEY = <YOUR_GEMINI_API_KEY>
ADMIN_ID = <YOUR_TELEGRAM>
